<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--Default value is Empty, if you give value here that will have top priority, else Windows login will be used-->
		<add key="BindingName" value=""/>
		<add key="DomainName" value=""/>
		<add key="UserName" value=""/>
		<add key="PassWord" value=""/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttp" transactionFlow="true" maxReceivedMessageSize="2147483647" receiveTimeout="00:30:00" />
			</wsHttpBinding>
			<basicHttpBinding>
				<binding name="basicHttp">
					<security mode="Transport">
						<transport clientCredentialType="Windows" />
					</security>
				</binding>
				<binding name="streamDownload_basicHttp" messageEncoding="Mtom">
					<security mode="Transport">
						<transport clientCredentialType="Windows" />
					</security>
				</binding>
				<binding name="streamUpload_basicHttp" messageEncoding="Mtom" />
				<binding name="Batch_basicHttp">
					<security mode="Transport">
						<transport clientCredentialType="Windows" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://yourserver/webservices/CoreService2013.svc/basicHttp" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="Tridion.ContentManager.CoreService.Client.ICoreService" name="basicHttp" />
			<endpoint address="http://yourserver/webservices/CoreService2013.svc/streamDownload_basicHttp" binding="basicHttpBinding" bindingConfiguration="streamDownload_basicHttp" contract="Tridion.ContentManager.CoreService.Client.IStreamDownload" name="streamDownload_basicHttp" />
			<endpoint address="http://yourserver/webservices/CoreService2013.svc/streamUpload_basicHttp" binding="basicHttpBinding" bindingConfiguration="streamUpload_basicHttp" contract="Tridion.ContentManager.CoreService.Client.IStreamUpload" name="streamUpload_basicHttp" />
			<endpoint address="http://yourserver/webservices/CoreService2013.svc/batch_basicHttp" binding="basicHttpBinding" bindingConfiguration="Batch_basicHttp" contract="Tridion.ContentManager.CoreService.Client.ICoreServiceBatch" name="Batch_basicHttp" />
			<endpoint address="http://yourserver/webservices/CoreService2013.svc/wsHttp" binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="Tridion.ContentManager.CoreService.Client.ISessionAwareCoreService" name="wsHttp"/>
		</client>
	</system.serviceModel>
</configuration>
